<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/static/css/sidebar.css">

</head>
<body>
<aside class="sidebar" th:fragment="studentsidebar">
  <!-- Sidebar header -->
  <header class="sidebar-header">
    <a href="#" class="header-logo">
      <img th:src="@{/images/Logo5-removebg.png}" alt="Logo">
    </a>

    <!-- User Info Section -->
    <div class="user-info">
      <hr class="divider">
      <div class="user-details">
        <img th:src="@{'/students/' + ${student.studentEmail} + '/photo'}" alt="User Avatar" class="user-avatar">
        <span class="user-name" th:text="${student.studentName}" >John Doe</span>
      </div>
      <hr class="divider">
    </div>
    <button class="toggler menu-toggler">
      <span class="material-symbols-rounded">menu</span>
    </button>
  </header>

  <nav class="sidebar-nav">
    <!-- Primary top nav -->
    <ul class="nav-list primary-nav">
      <li class="nav-item">
        <a th:href="@{/students/studentHome}"
          class="nav-link"
          th:classappend="${currentPage == 'studentHome'} ? ' active' : ''">
          <span class="nav-icon material-symbols-rounded">dashboard</span>
          <span class="nav-label">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link">
          <span class="nav-icon material-symbols-rounded">notifications</span>
          <span class="nav-label">Notifications</span>
        </a>
        <span class="nav-tooltip">Notifications</span>
      </li>
      <li class="nav-item">
        <a th:href="@{/projectIdeas}" class="nav-link">
          <span class="nav-icon material-symbols-rounded">group</span>
          <span class="nav-label">Project Ideas</span>
        </a>
        <span class="nav-tooltip">Team</span>
      </li>


      <li class="nav-item">
        <a  class="nav-link">
          <span class="nav-icon material-symbols-rounded">chat</span>
          Chats
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/projects/notes}" class="nav-link">
          <span class="nav-icon material-symbols-rounded">note</span>
          Notes
        </a>
      </li>
    </ul>

    <!-- Secondary bottom nav -->
    <ul class="nav-list secondary-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-icon material-symbols-rounded">account_circle</span>
          <span class="nav-label">Profile</span>
        </a>
        <span class="nav-tooltip">Profile</span>
      </li>
      <li class="nav-item">
        <a th:href="@{/logout}" class="nav-link">
          <span class="nav-icon material-symbols-rounded">logout</span>
          <span class="nav-label">Logout</span>
        </a>
        <span class="nav-tooltip">Logout</span>
      </li>
    </ul>
  </nav>
</aside>

</body>
</html>